html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Hides the scrollbar */

}

#side-panel {
   border-radius: 0px;
   padding-left: 20px;
    }

#map-container {
    height: calc(100vh - 75px);
    padding-right: 30px;
    padding-left: 30px;
    }

#map {
    height: 100%;
    border-radius: 20px;
    }

#sidePanel_arrow {
    position: fixed;
    bottom: 20px;
    left: 20px;
    }

#nav-bar {
    height: 50px;
}


